NODE_ENV=development
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d
JWT_SECRET=
EMAIL_VERIFICATION_PEPPER =
EMAIL_VERIFICATION_EXPIRATION =
EMAIL_API_KEY=
EMAIL=
FRONTEND_URL=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=